{% extends 'init.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
   {{ form_start(registrationForm) }}
        <div class="option">
            <a href="/login"  class="login">Log In</a>
            <a class="">Sign Up</a></div>
        <div class="main">
            <h1>Create your account</h1>
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
        </div>
        
    {{ form_end(registrationForm) }}
{% endblock %} 
