{% extends 'base.html.twig' %}

{% block title %}{{ role }} index{% endblock %}

{% block body %}
    
    <div class="contentPage-headerIndex" >
        <h1 class="text-uppercase text-uppercase font-size-sm font-weight-bold" style="color: #2196f3;">{{ role }}s</h1>
        <a href="/user/{{ role }}/new"><i class="icon-add"></i></a>
    </div> 

    <table id="example" class="display table" style="width:100%">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Username</th>
                <th>Profile</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
        {% if  role == customer.role %}
            <tr>
                <td>{{ customer.firstname }}</td>
                <td>{{ customer.lastname }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.username }}</td>
                <td><img src="{{ asset('uploads/' ~ customer.profile) }}" class="profilImage"/></td>
                <td>{{ customer.createdAt ? customer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="/customer/{{ role }}/{{customer.id}}"><i class="icon-eye"></i></a>
                    <a href="/customer/{{ role }}/{{customer.id}}/edit"><i class="icon-pencil"></i></a>
                </td>
            </tr>
        {# {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr> #}
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
