{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}

    <div class="contentPage-headerShow">
        <div class="contentPage-headerShow-left">
            <a href="{{ path('app_categorie_index') }}"><i class="icon-enter5"></i></a>
            <h1>Categorie</h1>
        </div>

        <div class="contentPage-headerShow-right">
            <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}"><i class="icon-pencil"></i></a>
            {{ include('categorie/_delete_form.html.twig') }}   
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ categorie.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie.description }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ categorie.image }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ categorie.image }}" class="profilImage"/></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
